/patient-service/src/main/resources/application.properties
/billing-service/src/main/resources/application.properties
/analytics-service/src/main/resources/application.properties
/api-gateway/src/main/resources/application.properties